/* Hero */
.hero {
  .container {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 400px;

  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    min-height: 600px;
  }
}
@media screen and (max-width: 480px) {
  .hero-img {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../img/hero/header-mobile.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url("../img/Hero/header-mobile@2x.jpg");
    }
  }
}
@media screen and (max-width: 768px) {
  .hero-img {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../img/hero/header-tablet.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url("../img/Hero/header-tablet@2x.jpg");
    }
  }
}
@media screen and (min-width: 769px) {
  .hero-img {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../img/hero/header.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url("../img/Hero/header-@2x.jpg");
    }
  }
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  height: 84px;
  margin-left: auto;
  margin-right: auto;

  color: $background-color;

  font-family: $main-font;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    .hero-title {
      width: 360px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.4;
  }
}
.hero-button {
  min-width: 50px;

  border-radius: 4px;
  padding: 10px 32px;

  color: $background-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;

  font-family: $main-font;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
}
