/* Our Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list :hover,
.clients-list :focus {
  border-color: $accent-color;
}
.clients-list :hover .company-logo,
.clients-list :focus .company-logo {
  fill: $accent-color;
}
.company-logo,
.clients-list-item {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  width: 170px;
  height: 90px;
}

.our-clients .clients-list + .clients-list {
  margin-left: 30px;
}
.company-logo {
  fill: #afb1b8;
}
