/* What we are doing */
@media screen and (max-width: 1199px) {
  .our-job {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-job {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .examples .examples-list + .examples-list {
    margin-left: 30px;
  }
  .examples-list {
    position: relative;
  }
  .examples {
    display: flex;
    justify-content: center;
  }
  .picturetext {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    margin-bottom: 0px;
    width: 370px;
    height: 70px;

    color: $background-color;
    background: rgba(47, 48, 58, 0.8);

    text-transform: uppercase;
    text-align: center;
  }
}
