/* Our team */
.our-team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $backgroud-our-team;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.nametitle {
  margin-top: 30px;
  margin-bottom: 10px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.team-list {
  width: 100%;
  align-items: center;
  text-align: center;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
/* Social Media for our team */
.social-media-team {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}
.team-sm-list:not(:last-child) {
  margin-right: 10px;
}
.social-link-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  padding: 12px;

  border-radius: 50%;
  background-color: $background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-radius: 50%;
    background-color: $accent-color;
  }
}

.team-social-icon {
  width: 20px;
  height: 20px;

  fill: #afb1b8;
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-list :hover .team-social-icon,
.team-sm-list :focus .team-social-icon {
  fill: $background-color;
}
@media screen and (max-width: 479px) {
  .team-list {
    width: 100%;
  }
  .team-list img {
    width: 100%;
  }
  .team-social-icon,
  .social-link-item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .team-list {
    margin-right: auto;
    margin-left: auto;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 768px) {
  .our-people {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-people {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list {
    width: calc((100% - 1 * 30px) / 2);
    overflow: hidden;
  }
  .team-list:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-list:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    width: calc((100% - 4 * 30px) / 2);
  }
  .team-list:not(:last-child) {
    margin-right: 30px;
  }
  .team-list:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
  .team-list {
    width: 270px;
  }
}
