.container {
  padding-right: 15px;
  padding-left: 15px;

  @media screena and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }
  @media screena and (min-width: 760px) {
    width: 760px;
  }
  @media screena and (min-width: 1200px) {
    width: 1200px;
  }
}
