html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: $primary-text-color;
  background-color: $background-color;

  font-family: $main-font;
  letter-spacing: 0.03em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $main-font;
}
.examples img,
.features img,
.our-job img,
.our-people img,
.social-media-team img,
.our-clients img,
.portfolio-works img {
  display: block;
}

.button,
.hero-button {
  font-family: inherit;

  cursor: pointer;
}
