$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-color: #ffffff;
$backgroud-our-team: #f5f4fa;
$fotter-color: #2f303a;
